<div style="background-color: #D2B48C; padding: 20px; height: 100vh;">
  <div class="container mt-3" style="background-color: #F5F5DC; padding: 20px;">

    <h1>Registrate</h1>

    <form action="/register" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="email" class="form-label">Correo electr칩nico</label>
        <input value="{{values.email}}" name="email" type="email" class="form-control {{#if errors.email}}is-invalid{{/if}}" id="email" placeholder="name@example.com">
        {{#if errors.email}}
          <div class="invalid-feedback">
            {{errors.email}}
          </div>
        {{/if}}
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Alias</label>
        <input value="{{values.username}}" name="username" class="form-control {{#if errors.username}}is-invalid{{/if}}" id="username" placeholder="nombredeusuario">
        {{#if errors.username}}
          <div class="invalid-feedback">
            {{errors.username}}
          </div>
        {{/if}}
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contrase침a</label>
        <input name="password" type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password">
        {{#if errors.password}}
          <div class="invalid-feedback">
            {{errors.password}}
          </div>
        {{/if}}
      </div>

      <div class="mb-3">
        <label for="imgUrl" class="form-label">Avatar</label>
        <input type="file" name="imgUrl" id="imgUrl" class="form-control">
        <!-- A침ade esta secci칩n para mostrar mensajes de error si es necesario -->
        {{#if errors.imgUrl}}
          <div class="invalid-feedback">
            {{errors.imgUrl}}
          </div>
        {{/if}}
      </div>

      <button class="btn btn-primary" style="background-color: orange;">Enviar</button>
    </form>

  </div>
</div>

