<div class="container mt-3">
  <div class="d-flex flex-column flex-md-row text-center align-items-md-start align-items-center gap-2">
    <!-- Sección del usuario -->
    <div class="text-center">
      <h4>{{ user.username }}</h4>
      <img class="rounded border" src="{{ user.imgUrl }}" width="200" height="200" />
    </div>

    {{#if canComment}}
    <!-- Formulario para enviar comentarios -->
    <div class="w-75 mx-auto">
      <form action="/usuario/{{ user._id }}/comentarios" method="POST">
        <div class="border p-3">
          <div class="mb-3">
            <input type="text" class="form-control" id="commentTitle" name="commentTitle" placeholder="Título del comentario" minlength="3" required>
          </div>
          <div class="mb-3">
            <textarea class="form-control" id="commentText" name="commentText" rows="3" placeholder="Escribe tu comentario aquí" minlength="10" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar Comentario</button>
        </div>
      </form>
    </div>
  </div>
  {{/if}}

  <!-- Sección para mostrar los comentarios -->
  <div class="comments-section mt-3 w-100">
    <h5 style="color: #343a40;">Comentarios:</h5>
    {{#each comments}}
      <div class="mb-3">
        <strong>{{ this.title }}</strong>
        <br>
        <span style="font-size: smaller;">{{ this.sender.username }} - {{#if this.createdAt}}{{formatDate this.createdAt}}{{else}}Fecha de creación no disponible{{/if}}</span>
        <br>
        <span>{{ this.comment }}</span>
      </div>
      <hr> <!-- Línea horizontal -->
    {{/each}}
  </div>
</div>
