<div class="container my-3">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <img class="img-fluid w-100" src="https://placehold.co/400x500" alt="">
        </div>
        <div class="col">
            <h1>{{nombreDelDeporte}}</h1>
            <p><strong>Fecha y Hora:</strong> {{FechaYHora}}</p>
            <p><strong>Tiempo de Inscripción:</strong> {{tiempodeinscripcion}}</p>
            <p><strong>Duración del Partido:</strong> {{duracionDelpartido}}</p>
            <p><strong>Nivel del Partido (desde):</strong> {{niveldelPartido.desde}}</p>
            <p><strong>Nivel del Partido (hasta):</strong> {{niveldelPartido.hasta}}</p>
        </div>
    </div>
</div>