<div style="background-color: #F5F5DC; height: 100vh;">
<div class="container my-3" style="background-color: #f0f0f0; padding: 20px; margin-top: 0 !important;">
    <div class="row row-cols-1 row-cols-md-2 align-items-start">
        <div class="col">
            <img class="img-fluid w-100" src="{{event.imgUrl}}" alt="imagen deporte" style="max-height: 500px;">
            <div class="mt-3">
                <h3 style="color: #333;">Jugadores Registrados ({{event.registros.length}})</h3>
                <ul class="list-unstyled">
                    {{#each event.registros as |registro|}}
                    <li class="mb-3">
                        <a href="/usuario/{{registro.user._id}}" class="text-decoration-none d-flex align-items-center">
                            <img class="rounded-circle border" src="{{registro.user.imgUrl}}" alt="profile picture" width="40" style="margin-right: 10px;">
                            <span>{{registro.user.username}}</span>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col">
            <h1 style="color: #333;">{{event.nombreDelDeporte}}</h1>
            <p><strong>Fecha y Hora:</strong> {{formatDate event.fechaYHoraDelPartido}}</p>
            <p><strong>Tiempo de Inscripción:</strong> {{formatDate event.tiempoDeInscripcion}}</p>
            <p><strong>Duración del Partido:</strong> {{event.duracionDelPartido}}</p>
            <p><strong>Nivel del Partido (desde):</strong> {{event.nivel.desde}}</p>
            <p><strong>Nivel del Partido (hasta):</strong> {{event.nivel.hasta}}</p>
            <p><strong>Número de jugadores:</strong> {{event.numeroDeJugadores}}</p>
            {{#unless registroCerrado}}
            <form action="/eventos/{{event._id}}/registrar" method="POST">
               <button class="btn {{#if registrado}}btn-danger{{else}}btn-outline-danger{{/if}}" style="background-color: #4CAF50; color: white; border: none; margin-bottom: 10px;">Registrar/Cancelar</button>
               </form>
            <hr>
            {{/unless}}
            <div class="mt-3">
                <h3 style="color: #333;">Organizador:</h3>
                <p><a href="/usuario/{{event.usuario._id}}" class="text-decoration-none" style="color: #007bff; text-decoration: underline;">{{event.usuario.username}}</a></p>
            </div>
        </div>
    </div>
</div>
</div>